    </main>

    <!-- footer -->
    <footer>
      <div class="container">
        <p>&copy 2016 Martin Pennock</p>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <!-- reCaptcha API for our contact form-->
    <script src='https://www.google.com/recaptcha/api.js'></script>
  </body>
</html>