<!-- 
filename: footer.js
author: Martin Pennock
website: martinpennock.com
description: This is the footer for my portfolio site
-->    
    </main>

    <!-- footer -->
    <footer>
      <!-- social media links -->
      <div class="container">
        <ul class="social-links">
          <li><a href="https://twitter.com/wed_dev44"><span class="icon-twitter"></span></a></li>
          <li><a href="https://github.com/mpennock"><span class="icon-github"></span></a></li>
          <li><a href="https://www.linkedin.com/in/martinpennock"><span class="icon-linkedin"></span></a></li>
          <li><a href="http://martinpennock.com/blog"><span class="icon-wordpress"></span></a></li>
        </ul>
        <!-- copyright -->
        <p class="copy">&copy 2016 Martin Pennock</p>
      </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <!-- reCaptcha API for our contact form-->
    <script src='https://www.google.com/recaptcha/api.js'></script>

  </body>
</html>