<% include partials/header.ejs %>
<section class="container-fluid about-me">

	<div class="row">
		<div class="col-md-6 text-center">
			<img src="images/profile-pic3.jpg" alt="profile picture">
		</div>
		<div class="col-md-6">
			<h1><%= title %></h1>
			<p>I specialize in writing clean, semantic markup that is built with accessibility in mind and is search engine friendly. I love both the creative design and coding aspects of web design, as it forces me to use all the parts of my brain.</p>
			<p>I’m strongest working with the front end, using HTML, CSS and JavaScript, but I’ve also done a lot of server side scripting with PHP, C#, MySQL and MongoDB. I’ve also worked with a wide array of frameworks and content management systems like Wordpress, Sitefinity, Shopify, Bootstrap and Foundation.</p>
			<p>When I’m not developing for the web I enjoy hiking, watching the Raptors, guitar, gaming and binge watching shows on Netflix. I also enjoy writing and talking politics.</p>
		</div>
	</div>
</section>
    
    
<% include partials/footer.ejs %>