<% include partials/header.ejs %>
    <h1>Hi,</h1>
    <p>I’m a web developer with a passion for making websites and applications that run well and look amazing.%></p>
<% include partials/footer.ejs %>
