<% include partials/header.ejs %>

<section class="container-fluid welcome">
	<article class="row">
		<div class="col-md-12 text-center">
			<img src="images/logo1_m.png" alt="logo">
			<h2>Web Developer. Designer. Writer.</h2>
			<p>I’m a web developer with a penchant for making websites and applications that provide high performance and look amazing.</p>
			<p>Whether you’re looking for an attractive site to showcase your product or services, or want to add a bright and hardworking developer to your team, I have the experience and skillset you need.</p>
		</div>
	</article>
</section>
<section class="container-fluid my-skills text-center">
	<h2>My Skills</h2>
	<div class="container">
		<div class="row text">
			<div class="col-md-4">
				<img src="images/html_logo.png" alt="html 5 logo">
				<h3>HML 5</h3>
			</div>
			<div class="col-md-4">
				<img src="images/css_logo.png" alt="CSS 3 logo">
				<h3>CSS 3</h3>
			</div>
			<div class="col-md-4">
				<img src="images/javascript_logo.png" alt="javascript logo">
				<h3>JavaScript</h3>
			</div>
		</div>
<div class="row text">
			<div class="col-md-4">
				<img src="images/php_logo.png" alt="php logo">
				<h3>PHP</h3>
			</div>
			<div class="col-md-4">
				<img src="images/my_sql_logo.png" alt="My Sql logo">
				<h3>MySQL</h3>
			</div>
			<div class="col-md-4">
				<img src="images/wordpress_logo.png" alt="wordpress logo">
				<h3>Wordpress</h3>
			</div>
		</div>
	</div>
</section>
    <h1>Hi,</h1>
    <p>I’m a web developer with a passion for making websites and applications that run well and look amazing.%></p>
<% include partials/footer.ejs %>
