<!-- 
filename: header.js
author: Martin Pennock
website: martinpennock.com
description: This is the main page for my portfolio site
-->s

<!-- include the header -->
<% include partials/header.ejs %>

<!-- main landing section of site -->
<section class="container-fluid welcome">
	<article class="row">
		<div class="col-md-12 text-center">
			<img src="images/logo1_m.png" alt="logo">
			<h2>Web Developer. Designer. Writer.</h2>
			<p>I’m a web developer with a penchant for making websites and applications that provide high performance and look amazing.</p>
			<p>Whether you’re looking for an attractive site to showcase your product or services, or want to add a bright and hardworking developer to your team, I have the experience and skillset you need.</p>
		</div>
	</article>
</section>

<!-- skills section -->
<section class="container-fluid my-skills text-center">
	<h2>My Skills</h2>
	<div class="container">
		<div class="row text">
			<div class="col-md-4">
				<img src="images/html_logo.png" alt="html 5 logo">
				<h3>HML 5</h3>
			</div>
			<div class="col-md-4">
				<img src="images/css_logo.png" alt="CSS 3 logo">
				<h3>CSS 3</h3>
			</div>
			<div class="col-md-4">
				<img src="images/javascript_logo.png" alt="javascript logo">
				<h3>JavaScript</h3>
			</div>
		</div>
	<div class="row text">
			<div class="col-md-4">
				<img src="images/php_logo.png" alt="php logo">
				<h3>PHP</h3>
			</div>
			<div class="col-md-4">
				<img src="images/my_sql_logo.png" alt="My Sql logo">
				<h3>MySQL</h3>
			</div>
			<div class="col-md-4">
				<img src="images/wordpress_logo.png" alt="wordpress logo">
				<h3>Wordpress</h3>
			</div>
		</div>
	</div>
</section>

<!-- services section -->
<section id="services" class="container-fluid services text-center">
	<h2>My Services</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2><span class="icon-pencil"></span></h2>
				<h2>Content Creation</h2>
				<p>Whether you need custom graphics or articles, I can create custom content that will get you noticed.
			</div>
			<div class="col-md-4">
				<h2><span class="icon-stats-dots"></span></h2>
				<h2>SEO</h2>
				<p>I utilize the best methods and strategies to get your sites ranked higher in search results.</p>
			</div>
			<div class="col-md-4">
				<h2><span class="icon-cart"></span></h2>
				<h2>E-Commerce</h2>
				<p>Shopping carts, payment processing, Shopify CMS. I can get your online store up and running.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2><span class="icon-embed2"></span></h2>
				<h2>Programming</h2>
				<p>Experience in multiple languages and frameworks, writing semantic code to the latest standards.</p>
			</div>
			<div class="col-md-4">
				<h2><span class="icon-database"></span></h2>
				<h2>Database</h2>
				<p>SQL and MongoDB databases. Manage your userbase and display dynamic content.</p>
			</div>
			<div class="col-md-4">
				<h2><span class="icon-mobile2"></span></h2>
				<h2>Responsive Design</h2>
				<p>I make sites that deliver a consistent user experience across all platforms and devices.</p>
			</div>
		</div>
	</div>
</section>

<!-- quick link to contact me call to action -->
<section class="container-fluid lets-connect">
	<h3>Lets Collaborte! <a href="/contact">Contact me today</a></h3>
</section>

<!-- include footer -->
<% include partials/footer.ejs %>
