<!-- 
filename: header.js
author: Martin Pennock
website: martinpennock.com
description: This is the projects page for my portfolio site
-->

<!-- include header -->
<% include partials/header.ejs %>

<!-- projects section -->
<section class="container-fluid projects">
	<h1 class="text-center">Recent Projects</h1>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail project-thumbnail">
          <a href="http://www.globehawksurvey.com"><img src="images/gh-screenshot.jpg" alt="Thumnail of task ninja" class="projectThumbnail"></a>
          <div class="caption">
            <h3>Globe Hawk Survey</h3>
            <p>Website for ariel and land surveying company using Bootstrap 3.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail project-thumbnail">
          <a href="http://gc100136369.computerstudi.es/client-side-scripting1/final_project/#"><img src="images/task_ninja_thumbnail.jpg" alt="Thumnail image of linked website"></a>
          <div class="caption">
            <h3>To Do List</h3>
            <p>A basic to do list web application using jQuery. You can add tasks to the list, remove them, mark as complete and edit them.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail project-thumbnail">
          <a href="http://gc100136369.computerstudi.es/web_design/bootstrap-3.3.4-dist/"><img src="images/bookPost_thumbnail.jpg" alt="Thumnail image of linked website"></a>
          <div class="caption">
            <h3>My First Bootstrap</h3>
            <p>The first page I made using Bootstrap, for a fictional company.</p>
          </div>
        </div>
      </div>
    </div>
</section> <!-- /project section -->

<!-- include footer -->
<% include partials/footer.ejs %>