

/* ===== Fonts ===== */
@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon/icomoon.eot?mhjxbe');
    src:    url('../fonts/icomoon/icomoon.eot?mhjxbe#iefix') format('embedded-opentype'),
        url('../fonts/icomoon/icomoon.ttf?mhjxbe') format('truetype'),
        url('../fonts/icomoon/icomoon.woff?mhjxbe') format('woff'),
        url('../fonts/icomoon/icomoon.svg?mhjxbe#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
    content: "\e905";
}
.icon-bullhorn:before {
    content: "\e91a";
}
.icon-cart:before {
    content: "\e93a";
}
.icon-credit-card:before {
    content: "\e93f";
}
.icon-phone:before {
    content: "\e942";
}
.icon-envelop:before {
    content: "\e945";
}
.icon-mobile2:before {
    content: "\e959";
}
.icon-database:before {
    content: "\e964";
}
.icon-users:before {
    content: "\e972";
}
.icon-stats-dots:before {
    content: "\e99b";
}
.icon-rocket:before {
    content: "\e9a5";
}
.icon-heart:before {
    content: "\e9da";
}
.icon-embed2:before {
    content: "\ea80";
}
.icon-twitter:before {
    content: "\ea91";
}
.icon-github:before {
    content: "\eab1";
}
.icon-wordpress:before {
    content: "\eab6";
}
.icon-linkedin:before {
    content: "\eac8";
}

.welcome {
	background: url('../images/home-background1.jpg') no-repeat center;
	background-color: #ACACAE;
	background-size: cover;
	background-position: top 0px center;
	width: 100%;
	height: 100%;
	padding-top: 10%;
	padding-bottom: 25%;
}

.welcome p {
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}

.welcome h2 {
	margin-bottom: 2%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}

a {
  color: #00B7FF;
}

.my-skills {
	background: url('../images/grainy-background.jpg') no-repeat center;
	background-color: #ACACAE;
	background-size: cover;
	background-position: top 0px center;
	width: 100%;
	height: 100%;
	padding-top: 10%;
	padding-bottom: 40%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.my-skills > div {
	padding: 5%;
}

.services {
	background: url('../images/pexels-photo.jpg') no-repeat center;
	background-color: #ACACAE;
	background-size: cover;
	background-position: top 0px center;
	width: 100%;
	height: 100%;
	padding-top: 10%;
	padding-bottom: 40%;
	padding-top: 5%;
	padding-bottom: 5%;	
	color: #fff;
}

.services > div > div {
	background: rgba(44,62,80,.6);
}

.lets-connect {
	background: url('../images/grainy-background.jpg') no-repeat center;
	background-color: #ACACAE;
	background-size: cover;
	background-position: top 0px center;
	width: 100%;
/*	height: 100%;*/
	padding-top: 5%;
	padding-bottom: 5%;
	border-top: 5px solid #8d9093;	
	color: #2C3E50;
	text-align: center;
}

.about-me {
	background: url('../images/grainy-background.jpg') no-repeat center;
	background-color: #ACACAE;
	background-size: cover;
	background-position: top 0px center;
	width: 100%;
	padding-top: 10%;
	padding-bottom: 15%;
}

.about-me p {
	width: 50%;
}

.projects {
	background: url('../images/grainy-background.jpg') no-repeat center;
	background-color: #ACACAE;
	background-size: cover;
	background-position: top 0px center;
	width: 100%;
	padding-top: 10%;
	padding-bottom: 15%;
}

.project-thumbnail {
	background: rgba(44,62,80,.2);
	border: 5px solid #fff;
	padding-top: 5%;
	text-align: center;
}

.contact-page {
	background: url('../images/grainy-background.jpg') no-repeat center;
	background-color: #ACACAE;
	background-size: cover;
	background-position: top 0px center;
	width: 100%;
	padding-top: 10%;
	padding-bottom: 15%;
}

footer {
	background-color: #292c2f;
	color: #8d9093;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding: 45px;
	border-top: 5px solid #8d9093;
}

.social-links {
	list-style: none;
	width: 100%;
	padding-right: 50px;
}
.social-links li {
	margin-left: 10px;
	font-size: 2em;
	display: inline;
}

.social-links li a {
	color: #8d9093;
}
.copy {
	clear: both;
}

form {
	width: 50%;
}